/* #instructions {
} */

#instructions h2 {
  font: var(--overline);
  background: linear-gradient(var(--gradient-content));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#instructions h1 {
  font: var(--display-lg);
  background: linear-gradient(var(--gradient-title));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#instructions div + div {
  margin-top: 4rem;
}

#instructions span {
  color: var(--color-brand);
  font: var(--medium);
}

#instructions p {
  font: var(--small);
}
